<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        
      <a class="navbar-brand" routerLink="">SANCTION SCRENNING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">File Validation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="list" routerLinkActive="active-link">Transaction List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="arhives" routerLinkActive="active-link">Archives</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>